.container{
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

ion-col{
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.times{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.imagem
{
  height: 100%;
  width: 100%;
  background: url("https://t2.uc.ltmcdn.com/pt/posts/3/2/7/como_jogar_truco_20723_orig.jpg");
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  filter: opacity(75%);
}

.branco{
  background-color: white;
}
